@model GlobalCityManager.Models.City

<h1>Update a City</h1>
@using (Html.BeginForm()) {
    <table border="1">
        @Html.Partial("_InputCity", Model)
        <tr>
            <td></td>
            <td><input type="submit" value="Update" /></td>
        </tr>
    </table>

}